<form>
  <div class="form-group">
    <label>Email address</label>
    <app-input [control]="$any(registerForm).get('emai')"></app-input>
  </div>
  <div class="form-group">
    <label>Password</label>
    <app-input [control]="$any(registerForm).get('password')"></app-input>
  </div>
  <div class="form-group">
    <label>Password Confirmation</label>
    <app-input
      [control]="$any(registerForm).get('passwordConfirmation')"
    ></app-input>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{ registerForm.value | json }}
{{ registerForm.errors | json }}
