<div class="container">
  <div class="card mt-3">
    <form class="card-body" [formGroup]="ccForm">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Name of card</label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            [ngClass]="{
              'is-invalid':
                ccForm.get('name')?.dirty &&
                ccForm.get('name')?.touched &&
                ccForm.get('name')?.errors
            }"
          />
          <ng-container
            *ngIf="
              ccForm.get('name')?.dirty &&
              ccForm.get('name')?.touched &&
              ccForm.get('name')?.errors
            "
          >
            <div
              *ngIf="ccForm.get('name')?.errors?.['required']"
              class="invalid-feedback"
            >
              Please fill in the field
            </div>
            <div
              *ngIf="ccForm.get('name')?.errors?.['minlength']"
              class="invalid-feedback"
            >
              The value you inputted is
              {{ ccForm.get("name")?.errors?.['minlength']?.['actualLength'] }}
              characters long. It must be at least
              {{
                ccForm.get("name")?.errors?.['minlength']?.['requiredLength']
              }}
              characters long.
            </div>
          </ng-container>
        </div>
        <div class="col-md-6 mb-3">
          <label>Credit card number</label>
          <input type="text" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Expiration</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-md-6 mb-3">
          <label>CVV</label>
          <input type="text" class="form-control" />
        </div>
      </div>
      <hr class="mb-4" />
      <button class="btn btn-primary btn-lg btn-block" type="submit">
        Continue to check out
      </button>
    </form>
    <div>Values: {{ ccForm.value | json }}</div>
    <div>Valid: {{ ccForm.valid }}</div>
  </div>
</div>
