<ul class="pagination">
  <li class="page-item" [ngClass]="{disabled: activeImg === 0}">
    <a class="page-link" href="#" (click)="activeImg=activeImg -1">Previous</a></li>
  <ng-container *ngFor="let img of images; let i=index">
    <li class="page-item" [ngClass]="{active: i=== activeImg}" *ngIf="showImage(i)">
      <a class="page-link" href="#" (click)="activeImg=i">{{i+1}}</a>
    </li>
  </ng-container>
  <li class="page-item" [ngClass]="{disabled: activeImg === images.length -1}">
    <a class="page-link" href="#" (click)="activeImg = activeImg +1">Next</a>
  </li>
</ul>

<div class="col-3">
  <div class="card">
    <img [src]="images[activeImg].url" class="card-img-top" alt="" />
    <div class="card-body">
      <h5 class="card-title">{{ images[activeImg].title }}</h5>
      <ng-container [ngSwitch]="images[activeImg].downloadable">
        <p class="card-text" *ngSwitch="1">Downloadable</p>
        <p class="card-text" *ngSwitch="2">Purchasable</p>
        <p class="card-text" *ngSwitchDefault>Not Downloadable</p>
      </ng-container>
    </div>
  </div>

</div>
