<ul class="pagination">
  <li class="page-item" [ngClass]="{disabled: activeImg === 0}">
    <a class="page-link" href="#" (click)="activeImg=activeImg -1">Previous</a></li>
  <li class="page-item" *ngFor="let img of images; let i=index;" [ngClass]="{active: i=== activeImg}">
    <a class="page-link" href="#" (click)="activeImg=i">{{i+1}}</a>
  </li>
  <li class="page-item" [ngClass]="{disabled: activeImg === images.length -1}">
    <a class="page-link" href="#" (click)="activeImg = activeImg +1">Next</a>
  </li>
</ul>

<div class="col-3">
  <div class="card">
    <img [src]="images[activeImg].url" class="card-img-top" alt="" />
    <div class="card-body">
      <h5 class="card-title">{{ images[activeImg].title }}</h5>
    </div>
  </div>

</div>
