<p>{{ name | titlecase }}</p>
<p>{{ todayDate | date}} </p>
<p>{{ todayDate | date: 'MMMM d'}} </p>
<p>{{ todayDate | date: 'short'}} </p>
<p>{{ cost | currency}} </p>
<p>{{ cost | currency:'JPY'}} </p>
<p>{{ temperature | number: '1.0-0'}} </p>
<p>{{ temperature | number: '5.0-0'}} </p>
<p>{{ temperature | number: '1.2-5'}} </p>
<pre>{{pizza | json}} </pre>
<p>Custom pipe double: {{cost | double: 2:true}} </p>
<p *ngIf="(cost | double) > 3000">Show me</p>

<p>Multiple pipes {{ temperature | double | number: '1.2-2'}} </p>
