<input
  [type]="type"
  class="form-control"
  [formControl]="control"
  [ngClass]="{ 'is-invalid': showMsg() }"
/>

<ng-container *ngIf="showMsg">
  <div *ngIf="control.hasError('required')" class="invalid-feedback">
    Please fill in the field
  </div>
  <div *ngIf="control.hasError('minlength')" class="invalid-feedback">
    The value you inputted is
    {{ control.hasError("minlength", "actualLength") }} characters long. It must
    be at least {{ control.hasError("minlength", "actualLength") }}
    characters long.
  </div>
  <div *ngIf="control.hasError('maxlength')" class="invalid-feedback">
    The value you inputted is
    {{ control.hasError("maxLength", "actualLength") }} characters long. It
    can't be longer than {{ control.hasError("maxLength", "actualLength") }}
    characters long.
  </div>
  <div *ngIf="control.hasError('compromised')" class="invalid-feedback">
    Password is unsafe. Please choose another.
  </div>
</ng-container>
