<div class="container">
  <div class="card mt-3">
    <form class="card-body" #emailFormGroup="ngForm">
      <label>E-mail</label>
      <input type="text" class="form-control" [(ngModel)]="email" />
      <!--   same as   <input [value]="email" (input)="email = $event.target.value">-->
      <div>Values: {{ emailFormGroup.value | json }}</div>
      <div>Valid: {{ emailFormGroup.valid }}</div>
      <hr class="mb-4" />
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>
